html {
    height: 100%;
    background: 50% 50% no-repeat
    url('data:image/svg+xml,<svg viewBox="-20 -5 60 40" width="140" xmlns="http://www.w3.org/2000/svg" opacity="0.2"><path d="M1 8l11-7 11 7v8l-11 7-11-7zm0 0l11 8 11-8m0 8L12 8 1 16M12 1v7m0 8v7" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/><text x="-12" y="32" font-size="5" font-family="monospace" fill="currentColor">Built on CodePen</text></svg>');
}

body {
    margin:0;
    font-family: Georgia;
    line-height: 1.6;
    background-color: #eeeeee;
    color: #222;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #F0F0CC;
    color: #8A2727;
}

header h1 {
    margin-bottom: 5px;
}

header p {
        margint-top: 0;
        color: #80112E;
    }


nav {
    margin-top: 25px;
}

nav a {
    color: #C95D5D;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}


main {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
}

section {
    background-color: #F5D0DE;
    margin-bottom: 25px;
    padding: 30px;
    border-radius: 8px;
}

h2 {
    color: #333333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

article {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

aside {
    margin-top: 25px;
    padding: 20px;
    background-color: #f0ebfa;
    border-left: 4px solid #A63D5B;
}

a {
    color: #6c3fc5;
}

address a {
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #8A2727;
    color: white;
}

footer p {
    margin: 5px;
}

